<style>
.card-inverse {
  height: 225px;
  width: 315px;
  border-radius: 25px;
  padding: 0px;
}
.card-inverse:hover {
  color: black ;
  background-color: rgb(255, 153, 153);
}</style>

<div id = "hw_result" >
  <table style="border-collapse: separate; border-spacing: 20px 1px; margin: 0px;">
    <% @table.each_with_index do |hw, i| %>
      <tr>
        <% hw.each_with_index do |h, j| %>
        <td>
          <%= link_to homeworkshow_path(h) do %>
          <div class="card card-inverse card-<%= @date_infos[i][j][0]%> ">
          <div class="card-deck">
              <!-- <blockquote class="card-blockquote "> -->
                <div class="col-sm-5 link-to-text-color" style="text-align: center; padding: 20px">
                  <% if @date_infos[i][j][2] != 'Done' && @date_infos[i][j][2] != 'Overdue'%>
                    <h1> <%= @date_infos[i][j][1].to_s %></h1>
                  <% end %>
                  <div style="padding: 0px; margin: 0px;">
                  <h4 > <%= @date_infos[i][j][2]%></h4>
                  </div>
                </div>
                <div class="col-sm-7 link-to-text-color" style="padding: 4%">
                  <h6>
                    <p><ins> Name: </ins><br>
                      <% if h.name == nil or h.name.length < 13 %>
                        <%= h.name %>
                      <% else %>
                        <%= h.name[0..13]+"..." %>
                      <% end %>
                    </p>
                    <% if h.group_id.nil? %>
                        <p><ins>Personal Assignments</ins><br>
                    <% else %>
                        <% if Group.find_by_id(h.group_id).public %>
                            <p><ins>Class:</ins><br>
                        <% else %>
                            <p><ins>Project:</ins><br>
                        <% end %>
                        <%= Group.find_by_id(h.group_id).name %>
                    <% end %>
                    </p>
                    <p>
                    <ins>Description:</ins><br>
                      <% if h.description == nil or h.description.length < 60 %>
                        <%= h.description %>
                      <% else %>
                        <%= h.description[0..60]+"..." %>
                      <% end %>
                    </p>
                  </h6>
                </div>
              <!-- </blockquote> -->
          </div>
          </div>
          <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
