<h1>Homework#index</h1>
<table>
  <tbody>
    <% @hws.each do |_, value| %>
      <tr>
        <td><%= value[0].name %></td>
        <td><%= value[0].due_date %></td>
        <td><%= value[1].status %></td>
        <td><%= value[1].grade %></td>
        <td><%= value[1].comment %></td>
      <tr>
    <% end %>
  <tbody>
<table>
