<br>
<%= form_tag(homework_result_path, method: "get", remote: true, role: "form", class: "form", id: "special") do %>

  <div class="form-group row">
    <div class = "col-xs-7" >
      <%= radio_button_tag(:hw_choice, "All", false, onclick: "$('#special').submit();") %>
      <%= label_tag(:special, "All") %>
      <%= radio_button_tag(:hw_choice, "Completed", false, onclick: "$('#special').submit(); ")%>
      <%= label_tag(:completed, "Completed") %>
      <%= radio_button_tag(:hw_choice, "Uncompleted",true, onclick: "$('#special').submit();")%>
      <%= label_tag(:completed, "Uncompleted") %>
    </div>
    <div class="input-group input-group-sm col-xs-4">
      <%= text_field_tag :search, params[:search], onchange: "$('#special').submit();", class: "form-control input-xs", placeholder: "Search Homework..." %>
      <div class="input-group-addon" style="height:20px; padding:0px">
        <button type="submit" class="btn btn-primary btn-sm" style="background-color: #18bc9c">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
        <% if current_user.latte_account == nil %>
          Reminder: you haven't subscribed Latte and you can do it anytime through the button on the top.
        <% else %>
            <% if !current_user.latte_account  %>
            Your Latte data is now loading...
            <% else %>
            Latte data loading is finished!
            <% end %>
        <% end %>
    </div>
<% end %>
<div id="search_results">
<style>
.card-inverse {
  height: 200px;
  width: 300px;
  border-radius: 25px;
  padding: 25px;
}
.card-inverse:hover {
  color: black ;
  background-color: rgb(255, 153, 153);
}</style>

<div id = "hw_result" >
  <%= render "homework/search_result" %>
</div>
