<h1>Homework#index</h1>
<table>
  <tbody>
    <% @hws.each do |_, value| %>
      <tr>
        <td><%= value[0].name %></td>
        <td><%= value[0].due_date %></td>
        <td><%= value[1].status %></td>
        <td><%= value[1].grade %></td>
        <td><%= value[1].comment %></td>
      <tr>
    <% end %>
  <tbody>
<table>
  <!-- <div class="row">
    <div class="col-sm-6">
      <div class="card card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div> -->
