<br>
<div class = "card" style = "border-radius:20px; background:rgb(247,238,183)">

  <div class="row">
    <div class = "col-sm-4" style = "text-align:center; padding: 2% ">
      <% if @this_userhw.status == 'No attempt'%>
        <% if @due[0] >= 0 && @due[1] >= 0 && @due[2] >= 0 %>
          <h1 style= "font-size: 600%;"> <%= @due[2]%> </h1>
          <h4 style= ""> minutes </h4>
          <h1 style= "font-size: 400%; "> <%= @due[1]%> </h1>
          <h4 style= ""> hours </h4>
          <h1 style= "font-size: 200%;"> <%= @due[0]%> </h1>
          <h4 style= > days </h4>
        <% else %>
          <h1 style= "">Past</h1>
          <h1 style= "">Due</h1>
          <h1 style= >Date</h1>
        <% end %>
      <% else %>
          <br/>
          <br/>
          <br/>
          <h1 style= "">Done</h1>
      <% end %>

      <br>
      <button type = "button" class= "btn btn-sm btn-success" style = "background-color: #18bc9c"><%= link_to 'Update', homeworkupdate_path(@this_hw), class: 'link-to-text-color' %></button>
      <button type = "button" class= "btn btn-sm btn-success" style = "background-color: #18bc9c"><%= link_to 'Delete', homeworkdestroy_path(@this_hw), data: {confirm: 'Are you sure?'}, class: 'link-to-text-color'%></button>
    </div>

    <div class = "col-sm-6" style = "padding: 4%;">

      <div class="alert alert-success" role="alert" style = "padding: 1%; background-color: white; color: black; border-color: black">
        <strong>Name: </strong> <%= @this_hw.name %>
      </div>

      <div class="alert alert-success" role="alert" style = "padding: 1%; background-color: white; color: black; border-color: black">
        <% if @private == 'myself'%>
          <strong><%= @groupName %></strong>
        <% elsif @private == 'class' %>
          <strong>Class: </strong> <%= @groupName %>
        <% else %>
          <strong>Project: </strong> <%= @groupName %>
        <% end %>
      </div>

      <div class="alert alert-success" role="alert" style = "padding: 1%; background-color: white; color: black; border-color: black">
        <strong>Due Date: </strong> <%= @this_hw.due_date.to_formatted_s(:rfc822)[0...-6]  %>
      </div>

      <% if @this_userhw.status == 'No attempt' %>
        <% if @due[0] >= 0 && @due[1] >= 0 && @due[2] >= 0 %>
          <div class="alert alert-success" role="alert" style = "padding: 1%; background-color: white; color: black; border-color: black">
            <strong>Time Left: </strong> <%= @due[0] %> days, <%= @due[1] %> hours, <%= @due[2]%> minutes left.
          </div>
        <% else %>
          <div class="alert alert-danger" role="alert">
            <strong>Warning!</strong> Your assignment is already past due by <%= -(@due[0]+1) %> days, <%= @due[1] %> hours, <%= @due[2]%> minutes.
          </div>
        <% end %>
      <% end %>

      <div class="alert alert-success" role="alert" style = "padding: 1%; background-color: white; color: black; border-color: black">
        <strong>Status: </strong><%= @this_userhw.status %>
      </div>

      <div class="alert alert-success" role="alert" style = "padding: 1%; background-color: white; color: black; border-color: black">
        <strong>Description: </strong>
        <% if @this_hw.description == "" %>
          No description.
        <% else %>
          <%= @this_hw.description%>
        <% end %>
      </div>

      <% if @private == 'class'%>
      <div class="alert alert-success" role="alert" style = "padding: 1%; background-color: white; color: black; border-color: black">
        <strong>Comment: </strong>
        <% if @this_userhw.comment == nil %>
          No comment.
        <% else %>
          <%= @this_userhw.comment%>
        <% end %>
      </div>
      <% end %>
      <button type = "button" class= "btn btn-sm btn-success" style = "background-color: #18bc9c"><%= link_to 'Back', root_path, class: 'link-to-text-color' %></button>
  </div>

    </div>
</div>
