<table class = "table table-striped">
  <tbody>
      <p><%= @this_hw.name %></p>
      <p><%= @this_hw.due_date %></p>
      <p><%= time_due(@this_hw.due_date) %></p>
      <p><%= @this_userhw.status %></p>
      <p><%= @this_userhw.grade %></p>
      <p><%= @this_userhw.comment %></p>
      <%= link_to 'Update', homeworkupdate_path(@this_hw)%>

  <tbody>
<table>
