<br>
<div class = "card" style = "border-radius:20px;">
  <div class="card-header link-to-text-color" style="background-color: #2c3e50;border-top-left-radius:1.25em; border-top-right-radius:1.25em;">
    <h2><%= @this_hw.name %></h2>
  </div>
  <div class="container">
<p><a href="#due" class="btn btn-info btn-sm" data-toggle="collapse">Due Date:</a>
  <div id="due" class="collapse.in">
    <%= @this_hw.due_date.to_formatted_s(:rfc822)[0...-6]  %>
  </div>
</p>
<p><a href="#daystodue" class="btn btn-info btn-sm" data-toggle="collapse">Time Left:</a>
  <div id="daystodue" class="collapse.in">
    <% if @due[0] >= 0 && @due[1] >= 0 && @due[2] >= 0 %>
      <%= @due[0] %> days, <%= @due[1] %> hours, <%= @due[2]%> minutes left.
    <% else %>
      <div class="alert alert-danger" role="alert">
        Warning! Your assignment is already past due by <%= -(@due[0]+1) %> days, <%= @due[1] %> hours, <%= @due[2]%> minutes.
      </div>
    <% end %>
  </div>
</p>
<p><a href="#status" class="btn btn-info btn-sm" data-toggle="collapse">Status:</a>
  <div id="status" class="collapse.in">
    <% if @this_userhw.status == nil %>
      No submission yet.
    <% else %>
      <%= @this_userhw.status%>
    <% end %>
  </div>
</p>
<p><a href="#grade" class="btn btn-info btn-sm" data-toggle="collapse">Grade:</a>
  <div id="grade" class="collapse.in">
    <% if @this_userhw.grade == nil %>
      Not graded.
    <% else %>
      <%= @this_userhw.grade%>
    <% end %>
  </div>
</p>
<p><a href="#comment" class="btn btn-info btn-sm" data-toggle="collapse">Comment:</a>
  <div id="comment" class="collapse.in">
    <% if @this_userhw.comment == nil %>
      No comment.
    <% else %>
      <%= @this_userhw.comment%>
    <% end %>
  </div>
</p>
<%= link_to 'Update', homeworkupdate_path(@this_hw)%>
</div>
</div>
