<h1><%= @homework.name %></h1>
<%= bootstrap_form_for @homework, url: homeworkedit_path(@homework), method: :get, class:"form-group" do |f| %>
  <%= f.text_field :name, autofocus: true %>
  <%= f.datetime_select :due_date, :minute_step => 1%>
  <label>Group</label>
  <%= select_tag "group", options_from_collection_for_select(user_groups, "id", "name"), class: "form-control" %>
  <%= f.text_area :description, rows: '10' %>
  <%= link_to 'Cancel', homeworkshow_path(@homework), class: "btn btn-info" %>
  <%= f.submit "Submit", class: "btn btn-primary", data: {confirm: 'You change on this homework will affect the whole community. Are you sure?'}%>
<% end %>
