<h1>Search Result </h1>

<table class="table", style="border-collapse: separate; border-spacing: 20px 1px;">
  <thead>
    <tr>
      <th>Class Name</th>
      <th>Year</th>
      <th>Term</th>
      <th>Section</th>
      <th>Your Status</th>
    </tr>
  </thead>

  <tbody>
    <% @result.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.year %></td>
        <td><%= r.term %></td>
        <td><%= r.section %></td>
        <% if @relation.find_by_user_id_and_group_id(current_user.id,r.id)%>
          <td><%= link_to 'Already In', {:controller => "group",
                                         :action => "show",
                                         :id => r.id}, method: 'get', class: "btn btn-primary btn-sm" %></td>
        <% else %>
          <td><%= link_to 'Join Now', {:controller => "group",
                                       :action => "join",
                                       :group_id => r.id},
                                       :method => "post", class: "btn btn-info btn-sm", style: "background-color: #18bc9c"%></td>
        <% end %>
      </tr>
   <% end %>
  </tbody>
</table>
